* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: grid;
    place-items: center;
    min-height: 100svh;
    background-image: linear-gradient(to right, #0003, #0003), url('../img/bg.webp');
    background-size: cover, cover;
    background-repeat: no-repeat;
}

.tv_iframe {
    position: relative;
    width: 680px;
    background-size: contain;
}

.tv_iframe::before {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    padding-bottom: 91%;
    background-image: url('../img/tv_frame.png');
    background-image: url('../img/tv_frame.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 2;
}

#tv_video {
    position: absolute;
    top: 5%;
    left: 5.5%;
    width: 89%;
    height: 57%;
    border-radius: 4%;
    -ms-transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
    background: -o-radial-gradient(#d1f5ff, #2ac8ff);
    background: radial-gradient(#d1f5ff, #2ac8ff);
}


/*  */
.controls {
    position: absolute;
    z-index: 2;
    bottom: 26.9%;
    right: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3px;
}

.controls button {
    display: block;
    width: 48px;
    height: auto;
    background: white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 3px solid #9d9284;
    font-size: 20px;
}

#speedValue {
    position: absolute;
    right: 106%;
    bottom: 38%;
    z-index: 2;
    color: white;
    background: #928b7e;
    padding: 4px 6px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.channel_btn {
    --bg_color: gold;
}

.channel_btn img {
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
    border: 3px solid #808080b5;
    padding: 14%;
    aspect-ratio: 1 / 1;
    box-shadow:
        0px 0px 1px 1px #000000b5, inset 0px 0px 5px 1px #000000b5, inset 0px 0px 10px 5px #ffffff59;
    background-image: radial-gradient(circle at center, #0000002b, #000000db);
    background-color: var(--bg_color);
}



/* GSAP */

.channel_wrapper {
    position: absolute;
    top: 74%;
    left: 2.8%;
    right: 2.5%;
    z-index: 20px;
    z-index: 2;
    overflow: hidden;
    user-select: none;
}

.channel_track {

    display: flex;

    gap: 20px;

    width: max-content;

    will-change: transform;

}

.channel_btn {


    flex: 0 0 auto;
}

.channel_btn img {
    width: 100px;
    display: block;
    pointer-events: none;

}


@media(max-width:991.98px) {
    .tv_iframe {
        width: 720px;
    }
    .controls button{
        width: 39px;
    }
}

@media(max-width:767.98px) {
    .tv_iframe {
        width: 560px;
    }
    .channel_btn img {
        width: 84px;
    }

    #speedValue {
        font-size: 12px;
    }
}


@media(max-width:575.98px) {

    .tv_iframe {
        width: 460px;
    }
    .channel_btn img {
        width: 76px;
    }
}


@media(max-width:469.98px) {

    .tv_iframe {
        width: 360px;
    }
    .channel_btn img {
        width: 64px;
    }
}